.auth-form {
  background-color: var(--secondary-color);

  min-width: 400px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}
.auth-form > h2 {
  color: var(--tertiary-color);
  text-align: center;
}
